section.first-section
    div.container
        .first-section__content
            h1.first-section__title Find your custom matched commercial real estate space.
            h2.first-section__description In oculis quidem exercitus quid ex ea consequatur? autem vel eum fugiat, quo pertineant ero tibique
            .mailform
                img(src="./assets/imgs/Icon1.svg", alt="")
                h2.mailform__email Your email address 
                a(href="#").mailform__form-sub Subscribe 
        img(src="./assets/imgs/picture.svg", alt="").first-section__img   