header.header 
    div.container
        .header__row 
            a(href="index.html").logo
                img(src="./assets/imgs/logo1.svg", alt="logo").logo__img
            .heade__links 
                a(href="#").link-header.link-header--inverse Home
                a(href="#").link-header About us
                a(href="#").link-header Find space
                a(href="#").link-header Share space
                a(href="#").link-header Promote space