section.second-section
    div.container
        .second-section__content 
            .second-section__complogo
                img(src="./assets/imgs/company1.svg", alt="")
                img(src="./assets/imgs/company2.svg", alt="")
                img(src="./assets/imgs/company3.svg", alt="")
                img(src="./assets/imgs/company4.svg", alt="")
            .second-section__provide
                .second-section__picture 
                    img(src="./assets/imgs/first-fon.jpg", alt="")
                .second-section__picture2 
                    img(src="./assets/imgs/second-fon.jpg", alt="")
                .second-section__description
                    h1.second-section__title We provide best space for you!
                    p.second-section__desk Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut aliquid ex ea quid est et via procedat oratio quaerimus.
                    p.second-section__desk quid aut ad id omnia referri oporteat, ipsum autem nusquam hoc epicurus in ea commodi consequatur?
                    a(href="#").link-section Learn more 