// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #fff;//основной цвет макета
$c-secondary: #F5F6FA;//дополнительный цвет макета
$c-text: #323232;//основной цвет текста макета
$c-text2: #fff;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Poppins', sans-serif;//основной
$headers-font: 'Poppins', sans-serif;//для заголовков
$secondary-font: 'Poppins', sans-serif;//дополнительный
